<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Code for preventing confirm resubmission errors, these occur when the user presses the back button-->
    <meta http-equiv= "Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script type="text/javascript">
      //disable caching on the back button
      window.onpageshow = function(event){
        if (event.persisted){
          window.location.reload();
        }
      };
    </script>
    <style>
      .performance-charts{
        transform: scale(0.70);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/user_dashboard.js' %}"></script>
    

    <title>User Dashboard</title>
  </head>
  <body>
    <div class="row">
      <div class="col-3">
        <h3>Select a user to view their details</h3>
        <div class="list-group">
          {% for user in users %}
          <a href="{% url 'teacher:userDetail' user.username %}" class="list-group-item list-group-item-action user-link">{{ user.username }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-9">
        {% for user in users %}
        <div id="{{ user.username }}-performance-container" class = "performance-charts">
          <h3>{{ user.username }}'s Performance</h3>
          <canvas id="{{ user.username }}-performance-chart"></canvas>
          <script>
            displayPerformanceChart('{{ user.username }}', {{ performance_data|safe }});
          </script>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
