<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Code for preventing confirm resubmission errors, these occur when the user presses the back button-->
    <meta http-equiv= "Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script type="text/javascript">
      //disable caching on the back button
      window.onpageshow = function(event){
        if (event.persisted){
          window.location.reload();
        }
      };
    </script>
    <title>Quizzes Testing Page</title>
  </head>
  <body>
    <h1>It is not working</h1>
  </body>
</html>
